@using _151027_LAB3_IT.Models;

@{
    ViewBag.Title = "ShowAllFriends";
}

<table>
    <thead>
        <tr>
            <td style="border:3px solid black;width:120px;font-size:24px;font-weight:bolder">Friend ID.</td>
            <td style="border:3px solid black;width:200px;font-size:24px;font-weight:bolder">Friend Name</td>
            <td style="border:3px solid black;width:200px;font-size:24px;font-weight:bolder">Place</td>
            <td style="border:3px solid black;width:110px;font-size:24px;font-weight:bolder"></td>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (Friend friend in Model)
            {
                <tr>
                    <td style="border:3px solid black">@friend.Id</td>
                    <td style="border:3px solid black">@friend.Name</td>
                    <td style="border:3px solid black">@friend.Location</td>
                    <td style="border:3px solid black;padding: 3px;">
                        <button onclick="window.location.href='@Url.Action("EditFriend", "Friend", new { id = i })'" style="margin-bottom:2px; width:100px">Edit</button><br />
                        <button onclick="window.location.href='@Url.Action("DeleteFriend", "Friend", new { id = i })'" style="width:100px">Delete</button>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
<br />
<button onclick="window.location.href='@Url.Action("AddFriend", "Friend")'" style="width:100px">Add Friend</button>

